<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPDS Form</title>
    <link rel="stylesheet" href="/styles/EDPS.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  
  </head>
<body>
    <button class="lang-toggle" onclick="toggleLanguage()">العربية</button>
      
<div class="parentrow">
    
    <div class="parentcolumn left">
  
      <div class="sidebar">
        <hr class="spacer">
        <img src="/assets/images/logo.png">
        <hr class="spacer">
        <div class="sidebar-item-done">Wexner  <i class='bx bx-check-circle' style="font-size: 20px;"></i></div>
        <div class="sidebar-item-done">ICIQ-UI SF  <i class='bx bx-check-circle' style="font-size: 20px;"></i></div>
        <div class="sidebar-item-active">EPDS</div>
        <div class="sidebar-item-inactive">PROMIS-10</div>
        <div class="sidebar-item-inactive">PAID</div>
  
        
        <div class="legend">
          <h2 data-en="Notes :" data-ar="ملاحظات :">Notes :</h2>
  <ul>
            <li data-en="0 = Perfect continence" data-ar="0 = سلس مثالي">1 = No: never</li>
            <li data-en="1 = Rarely: Less than 1/month" data-ar="1 = نادرا: أقل من 1/شهر">2 = No: sometimes</li>
            <li data-en="2 = Sometimes: Less than 1/week, but at least 1/month" data-ar="2 = أحيانا: أقل من 1/أسبوع، ولكن على الأقل 1/شهر">3 = Yes: sometimes</li>
            <li data-en="3 = Usually: Less than 1/day, but at least 1/week" data-ar="3 = عادة: أقل من 1/يوم، ولكن على الأقل 1/أسبوع">4 = Yes: most of the times</li>
            <li data-en="4 = Always: At least 1/day" data-ar="4 = دائما: على الأقل 1/يوم">5 = Always: everytime</li>
  </ul>
        </div>
  
      </div>
        
    </div>
  
    <div class="parentcolumn right">
      <div class="infobox">
    <h1 data-en="Mental Health Resilience post pregnancy Questionnaire (EPDS)" data-ar="استبيان مرونة الصحة العقلية بعد الحمل (EPDS)">Mental Health Resilience post pregnancy Questionnaire (EPDS)</h1>
    <p> <i class='bx bx-info-circle' style="font-size: 35px;">  </i> The EPDS stands for Edinburgh Postnatal Depression Scale. It's a screening tool used to identify mothers who may be experiencing symptoms of depression after childbirth.</p>
    <hr class="spacer">
                <!-- Progress Bar -->
    <div class="progress-bar">
        <div class="progress" id="progress-bar"></div>
    </div>

    <form action="/submitEPDS" method="POST" class="surveyform">
        <input type="hidden" name="Mr_no" value="<%= Mr_no %>">

        <!-- Questions -->
        <div class="question-container active" id="question-1">
            <div class="back-button">
                <button type="button" onclick="previousQuestion()" style="display:none;"><i class='bx bx-chevrons-left'></i>Previous</button>
              </div>
            <p data-en="1. I have been able to laugh and see the funny side of things:" data-ar="1. لقد تمكنت من الضحك ورؤية الجانب المضحك من الأشياء:">Q.1: I have been able to laugh and see the funny side of things:</p>

            <div id="custom-radio-pos"></div>
            <div id="form-wrapper">
              <div id="custom-radio">

        <input type="radio" name="I have been able to laugh and see the funny side of things" id="EDPS_1" value="1" required>
        <label for="EDPS_1" data-en="as always" data-ar="بقدر ما كنت أستطيع دائمًا" radio-option="as always"></label> 
        <input type="radio" name="I have been able to laugh and see the funny side of things" id="EDPS_2" value="2" required>
        <label for="EDPS_2" data-en="not as much" data-ar="ليس كثيرًا الآن"radio-option="not as much"></label>
        <input type="radio" name="I have been able to laugh and see the funny side of things" id="EDPS_3" value="3" required>
        <label for="EDPS_3" data-en="much less" data-ar="بالتأكيد ليس كثيرًا الآن" radio-option="much less"></label>
        <input type="radio" name="I have been able to laugh and see the funny side of things" id="EDPS_4" value="4" required>
        <label for="EDPS_4" data-en="not at all" data-ar="لا على الاطلاق" radio-option="not at all"></label>
        <input type="radio" name="I have been able to laugh and see the funny side of things" id="EDPS_5" value="5" required>
        <label for="EDPS_5" data-en="never again" data-ar="لا على الاطلاق" radio-option="never again"></label>        <div id="custom-radio-pos"></div>
      </div>
      <div class="nav-buttons">
        <button type="button" onclick="nextQuestion()"><i class='bx bx-chevrons-right'></i>Next</button>
      </div>
    </div>
  </div>

        <div class="question-container" id="question-2">
            <div class="back-button">
                <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
              </div>
            <p data-en="2. I have looked forward with enjoyment to things:" data-ar="2. كنت أتطلع إلى الأشياء بمتعة:">Q.2: I have looked forward with enjoyment to things:</p>

            <div id="custom-radio-pos"></div>
            <div id="form-wrapper">
              <div id="custom-radio">

        <input type="radio" name="I have looked forward with enjoyment to things" id="EDPS1_1" value="1" required>
        <label for="EDPS1_1" data-en="as always" data-ar="بقدر ما كنت أستطيع دائمًا" radio-option="as always"></label> 
        <input type="radio" name="I have looked forward with enjoyment to things" id="EDPS1_2" value="2" required>
        <label for="EDPS1_2" data-en="not as much" data-ar="ليس كثيرًا الآن"radio-option="not as much"></label>
        <input type="radio" name="I have looked forward with enjoyment to things" id="EDPS1_3" value="3" required>
        <label for="EDPS1_3" data-en="much less" data-ar="بالتأكيد ليس كثيرًا الآن" radio-option="much less"></label>
        <input type="radio" name="I have looked forward with enjoyment to things" id="EDPS1_4" value="4" required>
        <label for="EDPS1_4" data-en="not at all" data-ar="لا على الاطلاق" radio-option="not at all"></label>
        <input type="radio" name="I have looked forward with enjoyment to things" id="EDPS1_5" value="5" required>
        <label for="EDPS1_5" data-en="never again" data-ar="لا على الاطلاق" radio-option="never again"></label>        <div id="custom-radio-pos"></div>
      </div>
      <div class="nav-buttons">
        <button type="button" onclick="nextQuestion()"><i class='bx bx-chevrons-right'></i>Next</button>
      </div>
    </div>

        </div>

        <div class="question-container" id="question-3">
            <div class="back-button">
                <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
              </div>
            
            <p data-en="3. I have blamed myself unnecessarily when things went wrong:" data-ar="3. لقد لومت نفسي دون داعٍ عندما سارت الأمور بشكل خاطئ:">Q.3: I have blamed myself unnecessarily when things went wrong:</p>
            <div id="custom-radio-pos"></div>
            <div id="form-wrapper">
              <div id="custom-radio">

        <input type="radio" name="I have blamed myself unnecessarily when things went wrong" id="EDPS2_1" value="1" required>
        <label for="EDPS2_1" data-en="as always" data-ar="بقدر ما كنت أستطيع دائمًا" radio-option="as always"></label> 
        <input type="radio" name="I have blamed myself unnecessarily when things went wrong" id="EDPS2_2" value="2" required>
        <label for="EDPS2_2" data-en="not as much" data-ar="ليس كثيرًا الآن"radio-option="not as much"></label>
        <input type="radio" name="I have blamed myself unnecessarily when things went wrong" id="EDPS2_3" value="3" required>
        <label for="EDPS2_3" data-en="much less" data-ar="بالتأكيد ليس كثيرًا الآن" radio-option="much less"></label>
        <input type="radio" name="I have blamed myself unnecessarily when things went wrong" id="EDPS2_4" value="4" required>
        <label for="EDPS2_4" data-en="not at all" data-ar="لا على الاطلاق" radio-option="not at all"></label>
        <input type="radio" name="I have blamed myself unnecessarily when things went wrong" id="EDPS2_5" value="5" required>
        <label for="EDPS2_5" data-en="never again" data-ar="لا على الاطلاق" radio-option="never again"></label>        <div id="custom-radio-pos"></div>
      </div>
      <div class="nav-buttons">
        <button type="button" onclick="nextQuestion()"><i class='bx bx-chevrons-right'></i>Next</button>
      </div>
    </div>
        </div>

        <div class="question-container" id="question-4">
            <div class="back-button">
                <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
              </div>
            <p data-en="4. I have been anxious or worried for no good reason:" data-ar="4. لقد كنت قلقًا أو قلقًا بدون سبب وجيه:">Q.4: I have been anxious or worried for no good reason:</p>

            <div id="custom-radio-pos"></div>
            <div id="form-wrapper">
              <div id="custom-radio">

        <input type="radio" name="I have been anxious or worried for no good reason:" id="EDPS3_1" value="1" required>
        <label for="EDPS3_1" data-en="as always" data-ar="بقدر ما كنت أستطيع دائمًا" radio-option="as always"></label> 
        <input type="radio" name="I have been anxious or worried for no good reason:" id="EDPS3_2" value="2" required>
        <label for="EDPS3_2" data-en="not as much" data-ar="ليس كثيرًا الآن"radio-option="not as much"></label>
        <input type="radio" name="I have been anxious or worried for no good reason:" id="EDPS3_3" value="3" required>
        <label for="EDPS3_3" data-en="much less" data-ar="بالتأكيد ليس كثيرًا الآن" radio-option="much less"></label>
        <input type="radio" name="I have been anxious or worried for no good reason:" id="EDPS3_4" value="4" required>
        <label for="EDPS3_4" data-en="not at all" data-ar="لا على الاطلاق" radio-option="not at all"></label>
        <input type="radio" name="I have been anxious or worried for no good reason:" id="EDPS3_5" value="5" required>
        <label for="EDPS3_5" data-en="never again" data-ar="لا على الاطلاق" radio-option="never again"></label>        <div id="custom-radio-pos"></div>
      </div>
      <div class="nav-buttons">
        <button type="button" onclick="nextQuestion()"><i class='bx bx-chevrons-right'></i>Next</button>
      </div>
    </div>
        </div>

        <div class="question-container" id="question-5">
            <div class="back-button">
                <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
              </div>
            <p data-en="5. I have felt scared or panicky for no good reason:" data-ar="5. شعرت بالخوف أو الذعر بدون سبب وجيه:">Q.5: I have felt scared or panicky for no good reason:</p>
            <div id="custom-radio-pos"></div>
            <div id="form-wrapper">
              <div id="custom-radio">

        <input type="radio" name="I have felt scared or panicky for no good reason:" id="EDPS4_1" value="1" required>
        <label for="EDPS4_1" data-en="as always" data-ar="بقدر ما كنت أستطيع دائمًا" radio-option="as always"></label> 
        <input type="radio" name="I have felt scared or panicky for no good reason:" id="EDPS4_2" value="2" required>
        <label for="EDPS4_2" data-en="not as much" data-ar="ليس كثيرًا الآن"radio-option="not as much"></label>
        <input type="radio" name="I have felt scared or panicky for no good reason:" id="EDPS4_3" value="3" required>
        <label for="EDPS4_3" data-en="much less" data-ar="بالتأكيد ليس كثيرًا الآن" radio-option="much less"></label>
        <input type="radio" name="I have felt scared or panicky for no good reason:" id="EDPS4_4" value="4" required>
        <label for="EDPS4_4" data-en="not at all" data-ar="لا على الاطلاق" radio-option="not at all"></label>
        <input type="radio" name="I have felt scared or panicky for no good reason:" id="EDPS4_5" value="5" required>
        <label for="EDPS4_5" data-en="never again" data-ar="لا على الاطلاق" radio-option="never again"></label>        <div id="custom-radio-pos"></div>
      </div>
      <div class="nav-buttons">
        <button type="button" onclick="nextQuestion()"><i class='bx bx-chevrons-right'></i>Next</button>
      </div>
    </div>
        </div>

        <div class="question-container" id="question-6">
            <div class="back-button">
                <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
              </div>
            <p data-en="6. Things have been getting to me:" data-ar="6. كانت الأمور تزعجني:">Q.6: Things have been getting to me:</p>
            <div id="custom-radio-pos"></div>
            <div id="form-wrapper">
              <div id="custom-radio">

        <input type="radio" name="Things have been getting to me" id="EDPS5_1" value="1" required>
        <label for="EDPS5_1" data-en="as always" data-ar="بقدر ما كنت أستطيع دائمًا" radio-option="as always"></label> 
        <input type="radio" name="Things have been getting to me" id="EDPS5_2" value="2" required>
        <label for="EDPS5_2" data-en="not as much" data-ar="ليس كثيرًا الآن"radio-option="not as much"></label>
        <input type="radio" name="Things have been getting to me" id="EDPS5_3" value="3" required>
        <label for="EDPS5_3" data-en="much less" data-ar="بالتأكيد ليس كثيرًا الآن" radio-option="much less"></label>
        <input type="radio" name="Things have been getting to me" id="EDPS5_4" value="4" required>
        <label for="EDPS5_4" data-en="not at all" data-ar="لا على الاطلاق" radio-option="not at all"></label>
        <input type="radio" name="Things have been getting to me" id="EDPS5_5" value="5" required>
        <label for="EDPS5_5" data-en="never again" data-ar="لا على الاطلاق" radio-option="never again"></label>        <div id="custom-radio-pos"></div>
      </div>
      <div class="nav-buttons">
        <button type="button" onclick="nextQuestion()"><i class='bx bx-chevrons-right'></i>Next</button>
      </div>
    </div>
        </div>

        <div class="question-container" id="question-7">
            <div class="back-button">
                <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
              </div>
            <p data-en="7. I have been so unhappy that I have had difficulty sleeping:" data-ar="7. كنت غير سعيد لدرجة أنني واجهت صعوبة في النوم:">Q.7: I have been so unhappy that I have had difficulty sleeping:</p>
            <div id="form-wrapper">
                <div id="custom-radio">
  
          <input type="radio" name="I have been so unhappy that I have had difficulty sleeping" id="EDPS6_1" value="1" required>
          <label for="EDPS6_1" data-en="as always" data-ar="بقدر ما كنت أستطيع دائمًا" radio-option="as always"></label> 
          <input type="radio" name="I have been so unhappy that I have had difficulty sleeping" id="EDPS6_2" value="2" required>
          <label for="EDPS6_2" data-en="not as much" data-ar="ليس كثيرًا الآن"radio-option="not as much"></label>
          <input type="radio" name="I have been so unhappy that I have had difficulty sleeping" id="EDPS6_3" value="3" required>
          <label for="EDPS6_3" data-en="much less" data-ar="بالتأكيد ليس كثيرًا الآن" radio-option="much less"></label>
          <input type="radio" name="I have been so unhappy that I have had difficulty sleeping" id="EDPS6_4" value="4" required>
          <label for="EDPS6_4" data-en="not at all" data-ar="لا على الاطلاق" radio-option="not at all"></label>
          <input type="radio" name="I have been so unhappy that I have had difficulty sleeping" id="EDPS6_5" value="5" required>
          <label for="EDPS6_5" data-en="never again" data-ar="لا على الاطلاق" radio-option="never again"></label>        <div id="custom-radio-pos"></div>
        </div>
        <div class="nav-buttons">
          <button type="button" onclick="nextQuestion()"><i class='bx bx-chevrons-right'></i>Next</button>
        </div>
      </div>
        </div>

        <div class="question-container" id="question-8">
            <div class="back-button">
                <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
              </div>
            <p data-en="8. I have felt sad or miserable:" data-ar="8. شعرت بالحزن أو البؤس:">Q.8: I have felt sad or miserable:</p>
            <div id="form-wrapper">
                <div id="custom-radio">
  
          <input type="radio" name="I have felt sad or miserable" id="EDPS7_1" value="1" required>
          <label for="EDPS7_1" data-en="as always" data-ar="بقدر ما كنت أستطيع دائمًا" radio-option="as always"></label> 
          <input type="radio" name="I have felt sad or miserable" id="EDPS7_2" value="2" required>
          <label for="EDPS7_2" data-en="not as much" data-ar="ليس كثيرًا الآن"radio-option="not as much"></label>
          <input type="radio" name="I have felt sad or miserable" id="EDPS7_3" value="3" required>
          <label for="EDPS7_3" data-en="much less" data-ar="بالتأكيد ليس كثيرًا الآن" radio-option="much less"></label>
          <input type="radio" name="I have felt sad or miserable" id="EDPS7_4" value="4" required>
          <label for="EDPS7_4" data-en="not at all" data-ar="لا على الاطلاق" radio-option="not at all"></label>
          <input type="radio" name="I have felt sad or miserable" id="EDPS7_5" value="5" required>
          <label for="EDPS7_5" data-en="never again" data-ar="لا على الاطلاق" radio-option="never again"></label>        <div id="custom-radio-pos"></div>
        </div>
        <div class="nav-buttons">
          <button type="button" onclick="nextQuestion()"><i class='bx bx-chevrons-right'></i>Next</button>
        </div>
      </div>
        </div>

        <div class="question-container" id="question-9">
            <div class="back-button">
                <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
              </div>
            <p data-en="9. I have been so unhappy that I have been crying:" data-ar="9. كنت غير سعيد لدرجة أنني كنت أبكي:">Q.9: I have been so unhappy that I have been crying:</p>
            <div id="form-wrapper">
                <div id="custom-radio">
  
          <input type="radio" name="I have been so unhappy that I have been crying" id="EDPS8_1" value="1" required>
          <label for="EDPS8_1" data-en="as always" data-ar="بقدر ما كنت أستطيع دائمًا" radio-option="as always"></label> 
          <input type="radio" name="I have been so unhappy that I have been crying" id="EDPS8_2" value="2" required>
          <label for="EDPS8_2" data-en="not as much" data-ar="ليس كثيرًا الآن"radio-option="not as much"></label>
          <input type="radio" name="I have been so unhappy that I have been crying" id="EDPS8_3" value="3" required>
          <label for="EDPS8_3" data-en="much less" data-ar="بالتأكيد ليس كثيرًا الآن" radio-option="much less"></label>
          <input type="radio" name="I have been so unhappy that I have been crying" id="EDPS8_4" value="4" required>
          <label for="EDPS8_4" data-en="not at all" data-ar="لا على الاطلاق" radio-option="not at all"></label>
          <input type="radio" name="I have been so unhappy that I have been crying" id="EDPS8_5" value="5" required>
          <label for="EDPS8_5" data-en="never again" data-ar="لا على الاطلاق" radio-option="never again"></label>        <div id="custom-radio-pos"></div>
        </div>
        <div class="nav-buttons">
          <button type="button" onclick="nextQuestion()"><i class='bx bx-chevrons-right'></i>Next</button>
        </div>
      </div>
        </div>

        <div class="question-container" id="question-10">
            <div class="back-button">
                <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
              </div>
            <p data-en="10. The thought of harming myself has occurred to me:" data-ar="10. لقد راودتني فكرة إيذاء نفسي:">Q.10: The thought of harming myself has occurred to me:</p>
            <div id="form-wrapper">
                <div id="custom-radio">
  
          <input type="radio" name="The thought of harming myself has occurred to me" id="EDPS9_1" value="1" required>
          <label for="EDPS9_1" data-en="as always" data-ar="بقدر ما كنت أستطيع دائمًا" radio-option="as always"></label> 
          <input type="radio" name="The thought of harming myself has occurred to me" id="EDPS9_2" value="2" required>
          <label for="EDPS9_2" data-en="not as much" data-ar="ليس كثيرًا الآن"radio-option="not as much"></label>
          <input type="radio" name="The thought of harming myself has occurred to me" id="EDPS9_3" value="3" required>
          <label for="EDPS9_3" data-en="much less" data-ar="بالتأكيد ليس كثيرًا الآن" radio-option="much less"></label>
          <input type="radio" name="The thought of harming myself has occurred to me" id="EDPS9_4" value="4" required>
          <label for="EDPS9_4" data-en="not at all" data-ar="لا على الاطلاق" radio-option="not at all"></label>
          <input type="radio" name="The thought of harming myself has occurred to me" id="EDPS9_5" value="5" required>
          <label for="EDPS9_5" data-en="never again" data-ar="لا على الاطلاق" radio-option="never again"></label>        <div id="custom-radio-pos"></div>
        </div>
        <div class="nav-buttons">
            <button type="submit"><i class='bx bx-check-double'></i> Submit</button>
          </div>
      </div>
    </form>

    <script>
        let currentLang = 'en';
        let currentQuestion = 0;
        const questions = document.querySelectorAll('.question-container');
        const progressBar = document.getElementById('progress-bar');

        function updateProgressBar() {
            const progress = ((currentQuestion + 1) / questions.length) * 100;
            progressBar.style.width = `${progress}%`;
        }

        function showQuestion(index) {
            questions.forEach((question, i) => {
                question.classList.toggle('active', i === index);
            });
            updateProgressBar();
        }

        // function nextQuestion() {
        //     if (currentQuestion < questions.length - 1) {
        //         currentQuestion++;
        //         showQuestion(currentQuestion);
        //     }
        // }
        function nextQuestion() {
  // Select all the radio inputs of the current question
  const currentInputs = questions[currentQuestion].querySelectorAll('input[type="radio"]');

  // Check if any of the radio inputs are checked
  let answered = false;
  currentInputs.forEach(input => {
    if (input.checked) {
      answered = true;
    }
  });

  // Get the current question container and the error message element
  const currentQuestionContainer = questions[currentQuestion];
  let errorMessage = currentQuestionContainer.querySelector('.error-message');

  // If the question is answered, proceed to the next question
  if (answered) {
    if (currentQuestion < questions.length - 1) {
      currentQuestion++;
      showQuestion(currentQuestion);
    }
    // Remove error class and message if previously applied
    currentQuestionContainer.classList.remove('error');
    if (errorMessage) {
      errorMessage.remove();
    }
  } else {
    // If not answered, add error class and show error message
    currentQuestionContainer.classList.add('error');
    if (!errorMessage) {
      errorMessage = document.createElement('div');
      errorMessage.className = 'error-message';
      errorMessage.innerText = 'Please answer this question before moving to the next one.';
      currentQuestionContainer.appendChild(errorMessage);
    }
  }
}


        function previousQuestion() {
            if (currentQuestion > 0) {
                currentQuestion--;
                showQuestion(currentQuestion);
            }
        }

        function toggleLanguage() {
            currentLang = currentLang === 'en' ? 'ar' : 'en';
            document.querySelectorAll('[data-en]').forEach(el => {
                el.innerText = el.getAttribute(`data-${currentLang}`);
            });
            document.querySelector('.lang-toggle').innerText = currentLang === 'en' ? 'العربية' : 'English';
        }

        showQuestion(0);
    </script>
</body>
</html>
