<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stool incontinence Survey (Wexner)</title>
  <link rel="stylesheet" href="/styles/survey.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body>

  <button class="lang-toggle" onclick="toggleLanguage()">العربية</button>
  
<div class="parentrow">
    
  <div class="parentcolumn left">

    <div class="sidebar">
      <hr class="spacer">
      <img src="/assets/images/logo.png">
      <hr class="spacer">
      <div class="sidebar-item-active">Wexner</div>
      <div class="sidebar-item-inactive">ICIQ-UI SF</div>
      <div class="sidebar-item-inactive">EPDS</div>
      <div class="sidebar-item-inactive">PROMIS-10</div>
      

      
      <!-- <div class="legend">
        <h2 data-en="Notes :" data-ar="ملاحظات :">Notes :</h2>
<ul>
          <li data-en="0 = Perfect continence" data-ar="0 = سلس مثالي">0 = Perfect continence</li>
          <li data-en="1 = Rarely: Less than 1/month" data-ar="1 = نادرا: أقل من 1/شهر">1 = Rarely: Less than 1/month</li>
          <li data-en="2 = Sometimes: Less than 1/week, but at least 1/month" data-ar="2 = أحيانا: أقل من 1/أسبوع، ولكن على الأقل 1/شهر">2 = Sometimes: Less than 1/week, but at least 1/month</li>
          <li data-en="3 = Usually: Less than 1/day, but at least 1/week" data-ar="3 = عادة: أقل من 1/يوم، ولكن على الأقل 1/أسبوع">3 = Usually: Less than 1/day, but at least 1/week</li>
          <li data-en="4 = Always: At least 1/day" data-ar="4 = دائما: على الأقل 1/يوم">4 = Always: At least 1/day</li>
</ul>
      </div> -->

      <!-- <div class="legend">
        <h2 data-en="Notes :" data-ar="ملاحظات :">Notes :</h2>
        <ul>
            <li data-en="Rarely = < 1/month" data-ar="1 : نادرا: أقل من 1/شهر">Rarely = < 1/month</li>
            <li data-en="Sometimes =  < 1/week, > 1/month" data-ar="2 : أحيانا: أقل من 1/أسبوع، ولكن على الأقل 1/شهر">Sometimes =  < 1/week, > 1/month</li>
            <li data-en="Usually =  < 1/day, > 1/week" data-ar=" عادة: أقل من 1/يوم، ولكن على الأقل 1/أسبوع">Usually =  < 1/day, > 1/week</li>
            <li data-en="Always = > 1/day" data-ar="4 : دائما: على الأقل 1/يوم">Always = > 1/day</li>
        </ul>
    </div> -->
    
    <div class="legend">
      <h2 data-en="Notes :" data-ar="ملاحظات :">Notes :</h2>
      <ul>
          <li data-en="Rarely : < 1/month" data-ar="نادرا: أقل من 1/شهر">Rarely : < 1/month</li>
          <li data-en="Sometimes : < 1/week, > 1/month" data-ar="أحيانا: أقل من 1/أسبوع، ولكن على الأقل 1/شهر">Sometimes : < 1/week, > 1/month</li>
          <li data-en="Usually : < 1/day, > 1/week" data-ar="عادة: أقل من 1/يوم، ولكن على الأقل 1/أسبوع">Usually : < 1/day, > 1/week</li>
          <li data-en="Always : > 1/day" data-ar="دائما: أكثر من 1/يوم">Always : > 1/day</li>
      </ul>
  </div>
  

    </div>
      
  </div>

  <div class="parentcolumn right">
    <div class="infobox">
      <!-- Progress Bar -->

      <h1 data-en="Stool incontinence Survey (Wexner)" data-ar="استبيان سلس البراز (wexner)">Stool Incontinence Survey (Wexner)</h1>
      <p data-en="The Wexner PROMS is designed to help us understand your bowel habits and monitor your symptoms and overall quality of life. By completing this survey, you provide valuable information that enables us to offer you teh best possible care and support tailored to your needs." data-ar="تم تصميم جهاز Wexner PROMS لمساعدتنا على فهم عادات الأمعاء لديك ومراقبة أعراضك ونوعية حياتك بشكل عام. من خلال إكمال هذا الاستبيان، فإنك تقدم معلومات قيمة تمكننا من تقديم أفضل رعاية ودعم ممكنين لك بما يتناسب مع احتياجاتك."><i class='bx bx-info-circle' style="font-size: 35px;">  </i>  The Wexner PROMS is designed to help us understand your bowel habits and monitor your symptoms and overall quality of life. By completing this survey, you provide valuable information that enables us to offer you teh best possible care and support tailored to your needs.</p>
      <hr class="spacer">
      <div class="progress-bar">
        <div class="progress" id="progress-bar">
        </div>
      </div>
    </div>
    <form action="/submit_Wexner" method="post" class="surveyform">
      <input type="hidden" name="Mr_no" value="<%= Mr_no %>">
    
      <!-- Question 1 -->
      <div class="question-container active" id="question-1">
        <div class="back-button">
          <button type="button" onclick="previousQuestion()" style="display:none;"><i class='bx bx-chevrons-left'></i>Previous</button>
        </div>
        <p data-en="I have incontinence of solid stool" data-ar="لدي سلس في البراز الصلب">Q.1: I have incontinence of solid stool</p>
        <div id="custom-radio-pos"></div>
        <div id="form-wrapper">
          <div id="custom-radio">
            <input type="radio" name="I have incontinence of solid stool" id="solid_1" value="0" required>
            <label for="solid_1" data-en="never" data-ar="أبدا" radio-option="never"></label> 
            <input type="radio" name="I have incontinence of solid stool" id="solid_2" value="1" required>
            <label for="solid_2" data-en="rarely" data-ar="نادرا" radio-option="rarely"></label>
            <input type="radio" name="I have incontinence of solid stool" id="solid_3" value="2" required>
            <label for="solid_3" data-en="sometimes" data-ar="أحيانا" radio-option="sometimes"></label>
            <input type="radio" name="I have incontinence of solid stool" id="solid_4" value="3" required>
            <label for="solid_4" data-en="usually" data-ar="عادة" radio-option="usually"></label>
            <input type="radio" name="I have incontinence of solid stool" id="solid_5" value="4" required>
            <label for="solid_5" data-en="always" data-ar="دائما" radio-option="always"></label>
            <div id="custom-radio-pos"></div>
          </div>
        </div>
      </div>
    
      <!-- Question 2 -->
      <div class="question-container" id="question-2">
        <div class="back-button">
          <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
        </div>
        <p data-en="I have liquid stool incontinence" data-ar="لدي سلس في البراز السائل">Q.2: I have liquid stool incontinence</p>
        <div id="custom-radio-pos"></div>
        <div id="form-wrapper">
          <div id="custom-radio">
            <input type="radio" name="I have liquid stool incontinence" id="liquid_1" value="0" required>
            <label for="liquid_1" data-en="never" data-ar="أبدا" radio-option="never"></label>
            <input type="radio" name="I have liquid stool incontinence" id="liquid_2" value="1" required>
            <label for="liquid_2" data-en="rarely" data-ar="نادرا" radio-option="rarely"></label>
            <input type="radio" name="I have liquid stool incontinence" id="liquid_3" value="2" required>
            <label for="liquid_3" data-en="sometimes" data-ar="أحيانا" radio-option="sometimes"></label>
            <input type="radio" name="I have liquid stool incontinence" id="liquid_4" value="3" required>
            <label for="liquid_4" data-en="usually" data-ar="عادة" radio-option="usually"></label>
            <input type="radio" name="I have liquid stool incontinence" id="liquid_5" value="4" required>
            <label for="liquid_5" data-en="always" data-ar="دائما" radio-option="always"></label>
            <div id="custom-radio-pos"></div>
          </div>

        </div>
      </div>
    
      <!-- Question 3 -->
      <div class="question-container" id="question-3">
        <div class="back-button">
          <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
        </div>
        <p data-en="I have 'gas' type incontinence" data-ar="لدي سلس غازي">Q.3: I have 'gas' type incontinence</p>
        <div id="custom-radio-pos"></div>
        <div id="form-wrapper">
          <div id="custom-radio">
            <input type="radio" name="I have 'gas' type incontinence" id="gas_1" value="0" required>
            <label for="gas_1" data-en="never" data-ar="أبدا" radio-option="never"></label>
            <input type="radio" name="I have 'gas' type incontinence" id="gas_2" value="1" required>
            <label for="gas_2" data-en="rarely" data-ar="نادرا" radio-option="rarely"></label>
            <input type="radio" name="I have 'gas' type incontinence" id="gas_3" value="2" required>
            <label for="gas_3" data-en="sometimes" data-ar="أحيانا" radio-option="sometimes"></label>
            <input type="radio" name="I have 'gas' type incontinence" id="gas_4" value="3" required>
            <label for="gas_4" data-en="usually" data-ar="عادة" radio-option="usually"></label>
            <input type="radio" name="I have 'gas' type incontinence" id="gas_5" value="4" required>
            <label for="gas_5" data-en="always" data-ar="دائما" radio-option="always"></label>
            <div id="custom-radio-pos"></div>
          </div>
        </div>
      </div>
    
      <!-- Question 4 -->
      <div class="question-container" id="question-4">
        <div class="back-button">
          <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
        </div>
        <p data-en="I have to wear pads due to incontinence" data-ar="علي أن أرتدي وسادات بسبب السلس">Q.4: I have to wear pads due to incontinence</p>
        <div id="custom-radio-pos"></div>
        <div id="form-wrapper">
          <div id="custom-radio">
            <input type="radio" name="I have to wear pads due to incontinence" id="pads_1" value="0" required>
            <label for="pads_1" data-en="never" data-ar="أبدا" radio-option="never"></label>
            <input type="radio" name="I have to wear pads due to incontinence" id="pads_2" value="1" required>
            <label for="pads_2" data-en="rarely" data-ar="نادرا" radio-option="rarely"></label>
            <input type="radio" name="I have to wear pads due to incontinence" id="pads_3" value="2" required>
            <label for="pads_3" data-en="sometimes" data-ar="أحيانا" radio-option="sometimes"></label>
            <input type="radio" name="I have to wear pads due to incontinence" id="pads_4" value="3" required>
            <label for="pads_4" data-en="usually" data-ar="عادة" radio-option="usually"></label>
            <input type="radio" name="I have to wear pads due to incontinence" id="pads_5" value="4" required>
            <label for="pads_5" data-en="always" data-ar="دائما" radio-option="always"></label>
            <div id="custom-radio-pos"></div>
          </div>
        </div>
      </div>
    
      <!-- Question 5 -->
      <div class="question-container" id="question-5">
        <div class="back-button">
          <button type="button" onclick="previousQuestion()"><i class='bx bx-chevrons-left'></i>Previous</button>
        </div>
        <p data-en="Feel my lifestyle is altered due to incontinence to stool" data-ar="أشعر أن نمط حياتي تغير بسبب السلس إلى البراز">Q.5: Feel my lifestyle is altered due to incontinence to stool</p>
        <div id="custom-radio-pos"></div>
        <div id="form-wrapper">
          <div id="custom-radio">
            <input type="radio" name="Feel my lifestyle is altered due to incontinence to stool" id="lifestyle_1" value="0" required>
            <label for="lifestyle_1" data-en="never" data-ar="أبدا" radio-option="never"></label>
            <input type="radio" name="Feel my lifestyle is altered due to incontinence to stool" id="lifestyle_2" value="1" required>
            <label for="lifestyle_2" data-en="rarely" data-ar="نادرا" radio-option="rarely"></label>
            <input type="radio" name="Feel my lifestyle is altered due to incontinence to stool" id="lifestyle_3" value="2" required>
            <label for="lifestyle_3" data-en="sometimes" data-ar="أحيانا" radio-option="sometimes"></label>
            <input type="radio" name="Feel my lifestyle is altered due to incontinence to stool" id="lifestyle_4" value="3" required>
            <label for="lifestyle_4" data-en="usually" data-ar="عادة" radio-option="usually"></label>
            <input type="radio" name="Feel my lifestyle is altered due to incontinence to stool" id="lifestyle_5" value="4" required>
            <label for="lifestyle_5" data-en="always" data-ar="دائما" radio-option="always"></label>
            <div id="custom-radio-pos"></div>
          </div>
          <div class="nav-buttons">
            <button type="submit"><i class='bx bx-check-double'></i> Submit</button>
          </div>
        </div>
      </div>
    </form>


  </div>

</div>
<script>
  let currentLang = 'en';
let currentQuestion = 0;
const questions = document.querySelectorAll('.question-container');
const progressBar = document.getElementById('progress-bar');

function updateProgressBar() {
  const progress = ((currentQuestion + 1) / questions.length) * 100;
  progressBar.style.width = `${progress}%`;
}

function showQuestion(index) {
  questions.forEach((question, i) => {
    question.classList.toggle('active', i === index);
  });
  updateProgressBar();
}

function nextQuestion() {
  const currentInputs = questions[currentQuestion].querySelectorAll('input[type="radio"]');
  let answered = false;

  currentInputs.forEach(input => {
    if (input.checked) {
      answered = true;
    }
  });

  if (answered) {
    if (currentQuestion < questions.length - 1) {
      currentQuestion++;
      showQuestion(currentQuestion);
    }
  }
}

function previousQuestion() {
  if (currentQuestion > 0) {
    currentQuestion--;
    showQuestion(currentQuestion);
  }
}

function addRadioEventListeners() {
  questions.forEach((question, questionIndex) => {
    const radioInputs = question.querySelectorAll('input[type="radio"]');
    radioInputs.forEach(input => {
      input.addEventListener('change', () => {
        if (questionIndex === currentQuestion) {
          nextQuestion();
        }
      });
    });
  });
}


showQuestion(0);
addRadioEventListeners();


function toggleLanguage() {
  currentLang = currentLang === 'en' ? 'ar' : 'en';
  document.querySelectorAll('[data-en]').forEach(el => {
    el.innerText = el.getAttribute(`data-${currentLang}`);
  });
  document.querySelector('.lang-toggle').innerText = currentLang === 'en' ? 'العربية' : 'English';

  // Update radio labels
  document.querySelectorAll('#custom-radio label').forEach(label => {
    label.setAttribute('radio-option', label.getAttribute(`data-${currentLang}`));
  });
}

</script>
</body>
</html>

