<!-- search.ejs -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">

    <title>Search Patient</title>
</head>
<body>
    <h1>Search Patient</h1>
    <form action="/" method="post">
        <label for="Mr_no">Enter Mr_no:</label>
        <input type="text" id="Mr_no" name="Mr_no">
        <button type="submit">Search</button>
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Search Patient</title>
</head>
<body>
    <h1>Search Patient</h1>
    <form action="/search" method="get">
        <label for="Mr_no">Enter Mr_no:</label>
        <input type="text" id="Mr_no" name="Mr_no">
        <button type="submit">Search</button>
    </form>
</body>
</html>

