<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <meta name="google" content="notranslate"> 
    <title>Search Patient</title>
</head>

<body>
    <div class="login-container">
        <button class="lang-toggle" onclick="toggleLanguage()">العربية</button>
        <link rel="stylesheet" href="/styles/search.css"> 
        <form action="/search" method="get">
        <hr class="spacer"><img src="/assets/images/logo.png">
            
            <p data-en="Search Patient" data-ar="بحث المريض">Search Patient</p><hr class="spacer">
            <div class="form-group">
                <input type="text" id="identifier" name="identifier" placeholder="MR No. or Phone Number" data-en="MR No. or Phone Number" data-ar="أدخل السيد لا أو رقم الهاتف:" required ><hr class="spacer">
                <button type="submit" class="lgbtn" data-en="Search" data-ar="بحث">Search</button>
                <hr class="spacer">
            </div>
        </form>
    </div>

    <script>
        let currentLang = 'en';

        function toggleLanguage() {
            currentLang = currentLang === 'en' ? 'ar' : 'en';
            document.querySelectorAll('[data-en]').forEach(el => {
                el.innerText = el.getAttribute(`data-${currentLang}`);
            });

            // Update the placeholder for the input field
            const inputField = document.getElementById('identifier');
            inputField.placeholder = inputField.getAttribute(`data-${currentLang}`);
            
            document.querySelector('.lang-toggle').innerText = currentLang === 'en' ? 'العربية' : 'English';
        }
    </script>

</body>

</html>