<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Survey</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="form-container">
        <h1>Add Providers Specialty:</h1>
        <form action="/add" method="POST">
            
            <div class="form-group">
                <label for="specialty"></label>
                <!-- <select id="specialty" name="specialty" required>
                    <option value="General Medicine">General Medicine</option>
                    <option value="Cardiology">Cardiology</option>
                    <option value="Orthopedics">Orthopedics</option>
                    <option value="Pediatrics">Pediatrics</option>
                    <option value="Dermatology">Dermatology</option>
                    <option value="Ophthalmology">Ophthalmology</option>
                    <!-- Add more options as needed -->
                <!-- </select> --> 

                    <input type="text" id="specialty" name="specialty" required>
                
            </div>
            <div class="form-group">
                <label>Survey Names:</label>
                <% surveys.forEach(survey => { %>
                    <div class="checkbox">
                        <input type="checkbox" id="<%= survey.surveyName %>" name="surveyName" value="<%= survey.surveyName %>">
                        <label for="<%= survey.surveyName %>"><%= survey.surveyName %></label>
                    </div>
                <% }); %>
            </div>
            <button type="submit">Add Survey</button>
        </form>
        <a href="/" class="back-link">Back to Manage Survey's</a>
    </div>
</body>
</html>
