<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/register.css">
  <title>Password Form</title>
</head>

<body>

  <div class="login-container">
    <form action="/password/<%= Mr_no %>" method="post">
      <hr class="spacer">
      <img src="/assets/images/logo.png">
      <p>Register</p>
      <hr class="spacer">
      <input type="password" id="password" name="password" required placeholder="Create Password">
      <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirm Password">
      <hr class="spacer">
      <button type="submit" class="lgbtn">Submit</button>
      <hr class="spacer">
    </form>

  </div>

</body>

</html>

