<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Enter Mr_no</title>
</head>
<body>
  <h1>Enter Mr_no</h1>
  <form action="/password" method="post">
    <label for="Mr_no">Mr_no:</label>
    <input type="text" id="Mr_no" name="Mr_no" required><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Enter Mr_no / PhoneNumber and DOB</title>
  <style>
    .goog-te-banner-frame.skiptranslate {
      display: none !important;
    }
    body {
      top: 0px !important;
    }
  </style>
</head>
<body>
  <h1>Enter Mr_no / PhoneNumber and DOB</h1>
  <form action="/password" method="post">
    <label for="Mr_no">Mr_no / PhoneNumber:</label>
    <input type="text" id="Mr_no" name="Mr_no" required><br>
    <label for="dob">DOB (DD-MM-YYYY):</label>
    <input type="date" id="dob" name="dob" required><br><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>

