<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/register.css">
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <title>Register</title>
</head>

<body>

  <div class="login-container">
    <form action="/password" method="post">
      <hr class="spacer">
      <img src="/assets/images/logo.png">
      <p>Register</p>
      <hr class="spacer">
      <input type="text" id="Mr_no" placeholder="MR No. or Phone Number" name="Mr_no" required>
      <input type="date" id="dob" placeholder="Date of birth" name="dob" required>

      <button type="submit" class="lgbtn">Submit</button>
      <hr class="spacer">  
    </form>
  </div>
  <hr class="spacer">      <hr class="spacer">      <hr class="spacer">      <hr class="spacer">

</body>

</html>


