<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Survey Name</title>
</head>
<body>
  <h1>Add Survey Name</h1>
  <form id="surveyForm" action="/surveys" method="post">
    <label for="surveyName">Survey Name:</label><br>
    <input type="text" id="surveyName" name="surveyName"><br><br>
    <button type="submit">Submit</button>
    <button><a href="http://localhost:4050/">Back to Manage Survey's</a></button>
  </form>
</body>
</html>
