<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Login</title>
  <link rel="stylesheet" href="/doclogin.css">
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


</head>
<style>


.flash-message.error {

    color: #a94442;
    margin-bottom: 5px;
}

.flash-message {
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

</style>
<body>

  <div><h1><span style="font-weight: normal;">Welcome,</span> Doc.</h1></div>
  <div class="login-container">
      <form action="/login" method="POST" class="login-form">
      <hr class="spacer">            
      <img src="/assets/images/logo.png">
      <hr class="spacer">
      <input type="text" id="username" name="username" placeholder="Username" required>
      <input type="password" id="password" name="password" placeholder="Password" required>
        <% if (success_msg) { %>
          <div class="flash-message success"><%= success_msg %></div>
        <% } %>
        <% if (error_msg) { %>
          <div class="flash-message error"><%= error_msg %></div>
        <% } %>
      <button type="submit" class="lgbtn">Login</button>
      <hr class="spacer">
    </form>

  </div>
  <hr class="spacer">      <div style="display: flex; justify-content: space-around;"><h1>Let's power up with PROMs</h1></div>   <hr class="spacer">   <hr class="spacer">  
    <div style="display: flex; justify-content: space-around; color: grey;"> © WeHealthify · Contact  ·  Privacy Policy</div> 
</body>

</html>
